<div class="container-fluid">
    <div class="row g-0">
        <div class="main_colums">
            <div class="bigChart d-flex flex-column mb-3" id="bloodPressure" style="width: 100%; ">
                <h3>Blood Pressure</h3>


            </div>
            <div class="bigChart d-flex flex-column mb-3" id="pulseRateChart">
                <h3>Pulse Rate</h3>
            </div>
        </div>
        <div class="main_colums">
            <div class="smallChart d-flex flex-column mb-3" id="weightChart">
                <h3>Weight</h3>
            </div>
            <div class="smallChart">d

            </div>
            <div class="smallChart d-flex flex-column mb-3" id="OxygenSaturation">
                <h3>Oxygen Saturation</h3>
            </div>
        </div>
    </div>
</div>